<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java98k.alipay.dao.DianYingDao">
	<select id="findAll"
		resultType="com.java98k.alipay.vo.DianYingPojo">
		select * from dianyingbiao
	</select>
	<select id="findByZzry" parameterType="int"
		resultType="com.java98k.alipay.vo.DianYingPojo">
		select * from dianyingbiao where jiJiangShangYing=#{id}
	</select>
	<select id="findByID" parameterType="int"
		resultType="com.java98k.alipay.vo.DianYingZPojo">
		select c.*,d.mingzi,d.yanyuandaoyantupian from dianyingbiao
		c , yanyuandaoyanbiao d where c.dianyingid=#{id} and d.yanyuandaoyanid
		in(select yanyuandaoyanid from dianyingyanyuanbiao where
		dianyingid=#{id});
	</select>
	<select id="findByName"
		resultType="com.java98k.alipay.vo.DianYingPojo">
		select dy.*
		from dianyingbiao dy
		where dy.dianYingMingCheng
		like
		concat("%",#{name},"%") or dy.dianYingID in(select dyyy.dianYingID
		from dianyingyanyuanbiao dyyy
		where dyyy.yanYuanDaoYanID in(
		select
		yy.yanYuanDaoYanID
		from yanyuandaoyanbiao yy
		where yy.mingZi like
		concat("%",#{name},"%")));
	</select>
	<select id="findByname" resultType="int">
		select dianYingID from
		dianyingbiao
		where dianYingMingCheng=#{name}
	</select>
	<select id="findByID2" resultType="int">
		select dianYingID
		from
		dianyingbiao
		where dianYingMingCheng=#{name}
	</select>
	<update id="updateZHPingFen">
		update dianyingbiao set dianYingZongHePingFen=#{zhpf}
		where dianYingID=#{id}
	</update>
	<select id="findYongHuID" resultType="Integer">
		select y.yongHuID
		from
		yonghubiao y
		where yongHuMing=#{userName}
	</select>
</mapper>