/* two seats on each side for free space */

.rows--mini {
  width: 100%;

}
.row {
  display: -webkit-flex;
  display: flex;

}

.row__seat {
  -webkit-flex: none;
  flex: none;
  height: 100%;
  margin: 0;
}
.rows--mini .row__seat {
  width: 50px;
  height: 50px;
  background: #929295;
  margin: 3px;
  border-radius: 1px;
  cursor: pointer;
}

.rows--mini .row__seat:hover {
  background: #57e683;
}

.rows--mini .row__seat--reserved,
.rows--mini .row__seat--reserved:hover {
  background: #de6363;
}


.plan__title {
  text-align: center;
  font-size: 1em;
  margin: 0.25em 0 0.5em;
}
.legend {
  list-style: none;
  margin: 1em 0 0 0;
  padding: 0;
  text-align: center;
}

.legend__item {
  font-size: 0.85em;
  font-weight: bold;
  margin: 0 9px 0 0;
  display: inline-block;
}

.legend__item::before {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 5px 0 0;
  border-radius: 2px;
  background: rgba(72, 72, 78, 0.5);
}
.legend__item--reserved::before {
  background: #de6363;
}
.legend__item--selected::before,
.rows--mini .row__seat--selected,
.rows--mini .row__seat--selected:hover {
  background: #21c252;
}

/* Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip::before,
.tooltip::after {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  left: 50%;
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.tooltip::before {
  bottom: 100%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  z-index: 1001;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #57e683;
  border-width: 6px;
  margin-left: -6px;
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
}

.tooltip:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.tooltip::after {
  content: attr(data-tooltip);
  background: #57e683;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  z-index: 1000;
  font-size: 14px;
  padding: 8px 10px;
  bottom: 100%;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  -webkit-transform: translate3d(-50%, -5px, 0);
  transform: translate3d(-50%, -5px, 0);
}

.tooltip:hover::after {
  -webkit-transform: translate3d(-50%, -10px, 0);
  transform: translate3d(-50%, -10px, 0);
}

.action {
  border: none;
  padding: 0;
  background: none;
  margin: 0;
  font-size: 2em;
  font-weight: 700;
  color: #fff;
}

.action:hover,
.action:focus {
  outline: none;
}

.action--seats {
  padding: 0.5em 0 0.5em 2.5em;
  margin: 0 0 0 1em;
  color: #21c252;
  margin: 0 auto;
  display: inline-block;
  background: url(../img/seats.svg) no-repeat 0% 50%;
  background-size: auto 70%;
}


.action--lookaround.action--disabled {
  border-color: rgba(72, 72, 78, 0.5);
}
.action--lookaround.action--shown {
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.action--shown {
  opacity: 1;
  pointer-events: auto;
}
.action--shown.action--faded {
  opacity: 0.2;
}

.action--buy {
  margin: 1em auto;
  background: #26AD4F;
  font-size: 1em;
  width: 100%;
  padding: 0.75em 1.5em;
  border-radius: 3px;
  display: block;
  max-width: 230px;
}

.action--buy:hover {
  background: #21c252;
}


@media screen and (max-width: 50em), screen and (max-height: 38em) {
  .header {
    display: block;
    text-align: center;
    position: relative;
    padding: 2em;
    background: transparent;
  }

  .header__title {
    padding: 1em 0 0;
    font-size: 2em;
  }

  .note--screen {
    display: block;
  }

  .container {
    visibility: hidden;
    pointer-events: none;
    z-index: -1;
    position: absolute;
  }


  .rows--mini .row__seat:hover {
    background: rgba(72, 72, 78, 0.5);
  }

  .rows--mini .row__seat--selected:hover {
    background: #21c252;
  }
}
